*.iml
.gradle
.kotlin
/local.properties
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx\
local.properties
/signing
androidApp/release.properties
androidApp/staging.properties
/staging.properties
/production.properties
/androidApp/google-services.json
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/resources/sportplatform-b5318-firebase-adminsdk-egpiw-0065c30f75.json
