*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx\
local.properties
/signing
androidApp/release.properties
androidApp/staging.properties
/staging.properties
/release.properties
/androidApp/google-services.json
iosApp/Pods/*
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj