<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716683021770-7qjsmfb3k2c5utmno8c8puumfqia73l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716683021770-7qjsmfb3k2c5utmno8c8puumfqia73l1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>716683021770-81lcil912kvi84b72f2aorj68menvcie.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBm_JxundgDAjDZZ4OuVDxxTwNk2GiKIO4</string>
	<key>GCM_SENDER_ID</key>
	<string>716683021770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.msiwak.athletetrack.ios.staging.debug</string>
	<key>PROJECT_ID</key>
	<string>sportplatform-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>sportplatform-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716683021770:ios:21bcf771bbda2dbbec9333</string>
</dict>
</plist>